*{
    margin: 10px;
    font-family: Helvetica, sans-serif;
}

.recipe-body {
    background-color: rgb(250, 250, 152);
}

.title{
    text-align: center;
}

.main-content{
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 10px
}

img{
    display: block;
    margin: 15px auto;
}

.subtitle{
    margin: 10px;
}

li{
    margin: 0px;
}

.home-button{
    color: rgb(4, 42, 51);
    font-size: 16px;
}

.homepage{

}